.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

  .formInput {
    display: flex;
    flex-direction: row;
    margin-top: 55px;

    .input {
      margin-left: 25px;

      .inputItem {
        display: flex;
        align-items: center;
        height: 48px;

        .label {
          width: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          color: gray;
        }
        .option {
          width: 280px;
        }
      }
    }
  }
  .formButton {
    margin-top: 45px;
  }
}